<md-toolbar color="warn"> 
<button md-button class="buttons">Home</button>
<button md-button class="buttons">Login</button>
<button md-button class="buttons">Favourite Movies</button>
<app-search></app-search>
</md-toolbar>
<router-outlet></router-outlet>

<!-- 
<div *ngIf="a">
<ul class="movietemplate">
  <li *ngFor="let movie of a">
    <span>{{movie.Title}}</span> {{movie.Year}}
    {{movie.imdbID}}

       </li>
</ul>

</div> -->
<!--
<div *ngIf="a" class="card">
<md-card  *ngFor="let movie of a">
  <md-card-header>
    
    <md-card-title  class="title" > {{movie.Title}}</md-card-title>
    <md-card-subtitle class="title" >{{movie.Year}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="poster-image" src="{{movie.Poster}}">
  <md-card-content>
    <p>
<md-input-container class="example-full-width">
    <input mdInput #moviename placeholder="enter your description" >
  </md-input-container>
      
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Update</button>
    <button md-button>Like</button>
  </md-card-actions>
</md-card>
</div>
-->